@import "tailwindcss";

@font-face {
  font-family: "Gucci Sans Pro";
  src: url("/fonts/GucciSansPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gucci Sans Pro";
  src: url("/fonts/GucciSansPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gucci Sans Pro";
  src: url("/fonts/GucciSansPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-color-admin: #d3d5da;
  --sidebar-color-admin: #fff;
  --text-color-admin: hsl(210 39% 35%);

  font-family: "Gucci Sans Pro";
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
}
